.cabecalho__menu-hamburger{
    width: 40px;
    height: 40px;
    background-image: url("/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao{
    display: none;
}
.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link{
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container_titulo{
    display: none;
}

.opcoes{
    display: none;
}
@media screen and (min-width: 1024px) {
    .container_titulo, 
    .negrito_titulo {
        font-family: var(--fonte-secundaria);
    }
    .negrito_titulo{
        font-weight: 700;
        
    }
    .container_titulo{
        font-weight: 400;
        display: block;
    }

    .opcoes{
        display:flex;
    }
    .opcoes-items{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes-link{
        text-decoration: none;
    }
    .container-desaparece{
        display: none;
    }
    .cabecalho__menu-hamburger{
        display: none;
    }
}